*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
	color: blue;
}

body{
	font-family: Roboto;
	background: url("TESTE.png");
	background-size: 100%;
}

ul{
	list-style: none;
}

ul li{
	list-style: none;
	border-top: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
}

input[type="checkbox"]
{
	display: none;
}

nav
{
	opacity: 60%;
	background-color: #000000;
	width: 350px;
	height: 100%;
	left: -350px;
	position: absolute;
	transition: all .5s;
	text-align: center;
}

input[type="checkbox"]:checked ~ nav
{
	transform: translateX(350px);
}

ul{
	top: 250px;
	position: absolute;
	width: 100%;
}

a{
	display: block;
	padding: 20px 5px;
	color: white;
}

a:hover{
	background-color: rgb(176,224,230);
	color: black;
}

label{
	padding: 15px;
	position: absolute;
	z-index: 1;
}